body {
    font-family: "Montserrat", sans-serif;
    background: #ffffff;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 6px 6px 20px 0px #0f0f0f;
}

aside {
    width: 270px;
    background: #436af7;
    word-wrap: break-word;
}

.cv-photo {
    margin-top: 0px;
    text-align: center;
    width: 270px;
    height: 300px;
}

.contact-links {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    margin-right: 5px;
}

.bold {
    font-weight: 700;
    font-size: 16px;
}

.contact-block {
    margin-top: 40px;
    margin-left: 15px;
}

.skills-block {
    margin-top: 40px;
    margin-left: 15px;
}

.header-first {
    color: #ffffff;
    margin-bottom: 12px;
}

.list-first {
    color: #ffffff;
    list-style-type: disc;
    font-size: 16px;
    line-height: 24px;
    margin-left: 25px;
    padding-left: 0;
    list-style-position: outside;
}

main {
    padding: 20px 50px 20px 50px;
    width: 100%;
}

.main-description {
    width: 600px;
    font-size: 62px;
}

.project-description {
    width: 800px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #595959;
    margin-top: 5px;
    margin-bottom: 15px;
}

.description {
    width: 800px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #595959;
    margin-top: 40px;
    margin-bottom: 20px;
}

.projects {
    width: 800px;
    margin-top: 30px;
}

.list-primary {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.list-primary-item {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 5px;
}

.header-primary {
    font-weight: 700;
    font-size: 34px;
    line-height: 27px;
    margin-bottom: 12px;
}

.work-experience {
    margin-top: 40px;
    width: 800px;
}

.job-name {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.highlight {
    color: #436af7;
    font-size: 20px;
}

.job-date {
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #a8a8a8;
}

.job-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    margin-left: 0;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-position: inside;
}

.education {
    width: 800px;
    margin-top: 40px;
}

.university {
    margin-top: 5px;
    margin-bottom: 5px;
}

h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.underline {
    text-decoration: underline;
}